@tailwind base;
@tailwind components;
@tailwind utilities;

.range {
    height: 10px;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: purple;
}

.range::-moz-range-thumb {
    -moz-appearance: none;
    background-color: purple;
}