@tailwind base;
@tailwind components;
@tailwind utilities;

[contenteditable]:focus,[contenteditable]:focus-visible {
    outline: 0px solid transparent;
}

#harmony-section button, #harmony-section a {
    cursor: default;
}

/* #harmony-section button {
    cursor:none;
} */